{% extends 'base.html.twig' %}

{% block title %}Detail d'une entreprise{% endblock %}

{% block body %}
    <h1>Detail d'une entreprise</h1>

    <h2>{{ entreprises }}</h2>
    <p>
        adresse : {{entreprises.AdresseComplete}} <br>
        Date de création :{{entreprises.dateCreation | date("d-m-y") }}
    </p>
    <h3>Liste des salariés</h3>
    {% if entreprises.employes | length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employe</th>
                </tr>
            </thead>
        
            <tbody>
        {% for employes in entreprises.employes %}
            <tr><td><a href="{{path('show_employe' , {'id': employes.id})}}">{{employes}}</a> </td></tr><br>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun salarié dans cette entreprise</p>

    {% endif %}
    
    
{% endblock %}
